@using Microsoft.AspNetCore.Identity
@using ASPNETCore_DB.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETCore_DB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNETCore_DB.styles.css" asp-append-version="true" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img width="80" height="50" src="/assets/CUT_Logo.png" alt="CUT logo" /> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                            {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Create">Enroll</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Details">Your Details</a>
                            </li>
                            }
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Students</a>
                            </li>
                            }

                            @* @if (SignInManager.IsSignedIn(User))
                                {
                                    <div class="text-right">
                                        <p>You are logged in as: @ViewData["UserRole"] </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="text-right">
                                        <p>You are not logged in</p>
                                    </div>
                                } *@

                            <div class="">
                                <partial name="_LoginPartial" />
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container align-items-bottom">
        <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 px-4 my-4 border-top-red main-bg-color">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="/assets/CUT_Logo.png" alt="CUT logo" />
                </a>
            </div>

            <div class="col-md-2 d-flex justify-content-around">
                <span class="text-muted">&copy; 2024 CODE&trade;</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex social-icons">
                <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-youtube"></i></a></li>
                <li class="ms-3"><a class="text-white" href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
